# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [2]:
# Empty dictionary
Dict={}
type(Dict)

dict

In [3]:
Dict1=dict()
type(Dict1)

dict

In [4]:
data={'Alabama':'Montgomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [5]:
data['Ohio']

'Columbus'

In [6]:
data['Georgia']

'Atlanta'

In [7]:
# generate a key error is the key is not present in the dictionary
# data['New York']

In [8]:
day={1: 'Monday',
    2: 'Tuesday',
    4: ('Thursday','Friday'),
    5: ['Saturday', 'Sunday']}

### Update elements of a dictionary and add new elements

In [9]:
# Thursday
day[4][0] #day[key][index]

'Thursday'

In [10]:
# Sunday
day[5][1]

'Sunday'

In [11]:
day[3]='Wednesday'

In [12]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Sunday'],
 3: 'Wednesday'}

In [13]:
# update Saturday to holiday
day[5][0]='Holiday' # access then assign
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Sunday'],
 3: 'Wednesday'}

In [14]:
# update sunday to holiday
day[5][1]='Holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday'}

In [16]:
# update Thursday to Holiday
#day[4][0]='Holiday'# cannot update a tuple

### `get` and `update` methods
- get use to access a value from dictionary
- update the dictionary with new value also update the old value

In [17]:
# return wednesday
day.get(3)

'Wednesday'

In [18]:
# Monday
day.get(1)

'Monday'

In [19]:
day.get(6) # not generating an error if the key is not present in the dictionary

In [21]:
#day[6] # generates an error

In [22]:
data={'Alabama':'Montgomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

In [23]:
# old entry
data.update({'Kentucky':'Louisville'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus'}

In [24]:
# new entry
data.update({'Louisiana':'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge'}

In [25]:
data.update({'Missouri':'Jefferson City',
             'Kentucky':'Frankfort'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

### Delete dictionary items using `del` and `pop`

In [26]:
# delete Alabama using del method
del data['Alabama']
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [29]:
# delete Ohio using pop
data.pop('Ohio')

'Columbus'

In [30]:
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [31]:
# delete the dictionary
del data

In [32]:
# name error as the dictionary not present any more
# data

NameError: name 'data' is not defined

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [34]:
data={'Alabama':'Montgomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

In [35]:
data.keys()

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [36]:
data.values()

dict_values(['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Columbus'])

In [37]:
data.items()

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Pheonix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Columbus')])

### Loop through a dictionary

In [45]:
# unpack the dictionary keys
for i in data.keys():
    print(i)

Alabama
Arizona
Georgia
Kentucky
Ohio

In [44]:
# unpack the dictionary values
for j in data.values():
    print(j)

Montgomery
Pheonix
Atlanta
Frankfort
Columbus

In [43]:
# Dictionary items
for k in data.items():
    print(k)

('Alabama', 'Montgomery')
('Arizona', 'Pheonix')
('Georgia', 'Atlanta')
('Kentucky', 'Frankfort')
('Ohio', 'Columbus')

In [46]:
# unpack dictionary items
for j,k in data.items():
    print("state",j)
    print("capital", k)

state Alabama
capital Montgomery
state Arizona
capital Pheonix
state Georgia
capital Atlanta
state Kentucky
capital Frankfort
state Ohio
capital Columbus

### Convert dictionary to lists using `list()` function

In [47]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus'}

In [48]:
# dictionary keys to a list
list(data.keys())

['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio']

In [49]:
# dictionary values to a list
list(data.values())

['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Columbus']

### A List in a Dictionary: How to unpack all of the entries?

In [53]:
fav_language={"Jen":['python','ruby'],
              'Sarah':['c'],
              'Edward':['ruby','java'],
              'Phil':['python','java']
    
}

In [54]:
fav_language

{'Jen': ['python', 'ruby'],
 'Sarah': ['c'],
 'Edward': ['ruby', 'java'],
 'Phil': ['python', 'java']}

In [61]:
for name, subjects in fav_language.items():
    print(f"The name is : {name.title()}. The favorite language are :")
    
    for i in subjects:
        print("\t\t\t\t\t\t",i)

The name is : Jen. The favorite language are :
						 python
						 ruby
The name is : Sarah. The favorite language are :
						 c
The name is : Edward. The favorite language are :
						 ruby
						 java
The name is : Phil. The favorite language are :
						 python
						 java

###  A Dictionary in a Dictionary

In [64]:
user={'Est':{
    'First':'Albert',
    'Last':'Einstein',
    'Location':'Prinston'
    
},
      'Mcurie':{
          'First':'Marie',
          'Last':'Curie',
          'Location':'Paris'
      }
     
}
user

{'Est': {'First': 'Albert', 'Last': 'Einstein', 'Location': 'Prinston'},
 'Mcurie': {'First': 'Marie', 'Last': 'Curie', 'Location': 'Paris'}}

In [65]:
#albert
user['Est']['First']

'Albert'

In [66]:
#Paris
user['Mcurie']['Location']

'Paris'

In [77]:
for username, user_info in user.items():
    print("Username:",username)
    #print(user_info)
    full_name=user_info['First']+" "+user_info['Last']
    print("Full name: ",full_name)
    print("location: ", user_info['Location'])

Username: Est
Full name:  Albert Einstein
location:  Prinston
Username: Mcurie
Full name:  Marie Curie
location:  Paris